{% extends 'base.html.twig' %}

{% block body %}
  <section>
    <div class="container">
      <div id="steps">
        <div class="step inline-block" data-id="1">
          <p>Personal</p>
          <span class="step-bar"></span>
        </div>

        <div class="step inline-block" data-id="2">
          <p>Password</p>
          <span class="step-bar"></span>
        </div>

        <div class="step inline-block" data-id="3">
          <p>Contact</p>
          <span class="step-bar"></span>
        </div>

        <div class="step inline-block" data-id="4">
          <p>Address</p>
          <span class="step-bar"></span>
        </div>

        <div class="step inline-block" data-id="5">
          <p>Program</p>
          <span class="step-bar"></span>
        </div>

        <div class="step inline-block" data-id="6">
          <p>Education</p>
          <span class="step-bar"></span>
        </div>

        <div class="step inline-block" data-id="7">
          <p>Review</p>
          <span class="step-bar"></span>
        </div>

      </div>
      <h1>Register for a unique adventure!</h1>
      <div class="row form-wrap registration-form-wrap">
        <div class="col-xs-12">
          {{ include('forms/_signup.html.twig') }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/intlTelInput.min.js') }}"></script>
  <script src="{{ asset('js/utils.js') }}"></script>
  <script>
    $("#user_registration_form_phone").intlTelInput();
  </script>
{% endblock %}
