{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>SignUp for an amaxing adventure!</h1>
		<div class="row form-wrap">
			{{ include('_signup.html.twig') }}
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/intlTelInput.min.js') }}"></script>
	<script src="{{ asset('js/utils.js') }}"></script>
	<script>
		$("#user_phone").intlTelInput();
	</script>
{% endblock %}
