{{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.middleName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.dateOfBirth) }}
    <button class="btn btn-primary" type="submit">Save</button>
{{ form_end(form) }}
