<div class="row">
{{ form_start(form) }}
    <div class="well well-lg">
        {{ form_row(form.firstName) }}
        {{ form_row(form.middleName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.dateOfBirth) }}
        {{ form_row(form.sex) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.nationality) }}
        {{ form_row(form.passportNo) }}
        {{ form_row(form.plainPassword.first, {
            'label': 'Password'
        }) }}
        {{ form_row(form.plainPassword.second, {
            'label': 'Repeat password'
        }) }}

    </div>

    <div class="well well-lg">
        {{ form_row(form.addressCountry) }}
        {{ form_row(form.addressRegion) }}
        {{ form_row(form.addressZip) }}
        {{ form_row(form.addressCity) }}
        {{ form_row(form.addressCo) }}
        {{ form_row(form.addressStreet) }}
        {{ form_row(form.addressPoBox) }}
        {{ form_row(form.addressHouseNo) }}
    </div>

    <div class="well well-lg">
        {{ form_row(form.eduLevelExpected) }}
        {{ form_row(form.eduCurrentPlace) }}
        {{ form_row(form.eduCurrentProgram) }}
        {{ form_row(form.eduFuturePlace) }}
        {{ form_row(form.eduFutureProgram) }}
    </div>
    
    <button class="btn btn-success" type="submit">Register <i class="fa fa-thumbs-o-up"></i></button>
{{ form_end(form) }}
</div>