{% extends 'admin/base.html.twig' %}

{% block body %}
  <h1 class="page-header">Dashboard</h1>

  <h2 class="light">Latest programs</h2>
  <div class="row row-eq-height placeholders">
    {% for program in programs|reverse %}
      <div class="col-xs-6 col-sm-3 text-center placeholder">
        <div class="squareImg-placeholder">
          <img src="/{{ program.feature.path }}{{ program.feature.fileName }}" alt="{{ program.title }}">
          <div class="squareImg-shade"></div>
        </div>
        <h4>{{ program.title }}</h4>
        <span class="text-muted">{{ program.teaser }}</span>
        <a href="{{ path('admin_program_update', {'programId':program.id}) }}">
          <button class="btn btn-primary btn-sm center-block">Adjust <i class="fa fa-pencil"></i></button>
        </a>
      </div>
    {% endfor %}
  </div>

  <h2 class="light">Volunteers</h2>
  <div class="table-responsive">
    <table class="table table-striped dataTable">
      <thead>
      <tr>
        <th>#</th>
        <th>Fullname</th>
        <th>Email</th>
        <th>Birthdate</th>
        <th>Nationality</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>
      {% for volunteer in volunteers %}
        <tr>
          <td>{{ volunteer.id }}</td>
          <td>{{ volunteer.firstName }} {% if volunteer.middleName is not null %}{{ volunteer.middleName }} {% endif %}{{ volunteer.lastName }}</td>
          <td>{{ volunteer.email }}</td>
          <td>{{ volunteer.dateOfBirth|date('d-M-Y') }}</td>
          <td>{{ volunteer.nationality }}</td>
          <td><a href="{{ path('admin_volunteer_edit', {'volunteerId':volunteer.id}) }}"><i
                  class="fa fa-pencil-square-o text-primary"></i></a></td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}
