{% extends 'admin/base.html.twig' %}

{% block body %}
  <h1 class="page-header">Media library</h1>
  <div class="new-media-form">
    {{ form_start(form) }}
      {{ form_widget(form.path) }}
      <input type="submit" value="Upload">
    {{ form_end(form) }}
  </div>
  <div class="row margin--top-huge">
    {% for media in medias|reverse %}
      <div class="col-md-3 col-sm-4 col-xs-6">
        <a href="/{{ media.path }}{{ media.filename }}" target="_blank"><span class="mediaImg" style="background: url('/{{ media.path }}{{ media.filename }}')  no-repeat center center;background-size:cover;"></span></a>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

