{% extends 'admin/base.html.twig' %}

{% block body %}
    <h1 class="page-header">Organisation</h1>
    <div class="admin-input-wrap">
        {{ include('forms/_organisation.html.twig') }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {#$("#organisation_logo_path").fileinput({#}
            {#overwriteInitial: true,#}
            {#maxFileSize: 500,#}
            {#showClose: false,#}
            {#showCaption: false,#}
            {#showBrowse: false,#}
            {#browseOnZoneClick: true,#}
            {#elErrorContainer: '#kv-avatar-errors-2',#}
            {#msgErrorClass: 'alert alert-block alert-danger',#}
            {#defaultPreviewContent: '<img src="/{{ logo.path }}{{ logo.filename }}" alt="Your Avatar" style="width:160px"><h6 class="text-muted">Click to select</h6>',#}
            {#layoutTemplates: {main2: '{preview}'},#}
            {#allowedFileExtensions: ["jpg", "png", "gif"]#}
        {#});#}
    </script>
{% endblock %}

