{% extends 'admin/base.html.twig' %}

{% block body %}
  <h1 class="page-header">Users</h1>
  <div>
    <a href="{{ path('admin_user_new') }}">
      <button class="btn btn-success"><i class="fa fa-user-plus"></i> New user</button>
    </a>
  </div>
  <div class="row margin--top-l">
    <table id="usersTable" class="dataTable table table-striped table-hover" data-toggle="table" data-order='[[ 0, "desc" ]]' data-page-length="25">
      <thead>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Nationality</th>
      <th>Role</th>
      <th>Remove</th>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.firstName }} {{ user.middleName }} {{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.nationality }}</td>
          <td>{{ user.roles[0]|capitalize }}</td>
          <td><button class="btn btn-default btn-user-delete color--light-gray" data-target="{{ user.id }}">Delete <i class="fa fa-trash"></i></button></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

