{% extends 'admin/base.html.twig' %}

{% block body %}
  <h1 class="page-header">
    {{ app.user.firstName }}
    {% if app.user.middleName is not null %}
      {{ app.user.middleName }}
    {% endif %}
    {{ app.user.lastName }}
  </h1>
  <a href="{{ path('security_logout') }}">
    <button class="btn btn-danger">Logout <i class="fa fa-sign-out"></i></button>
  </a>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

