{% extends 'admin/base.html.twig' %}


{% block body %}
  <h1 class="page-header">volunteerss</h1>
  <table id="volunteerTable" class="dataTable table table-striped table-hover" data-toggle="table" data-order='[[ 0, "desc" ]]' data-page-length="25">
    <thead>
      <th>Name</th>
      <th>Birthday</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Nationality</th>
      <th>Arrival</th>
      <th>Duration</th>
      <th>Edit</th>
    </thead>
    <tbody>
    {% for volunteer in volunteers %}
      <tr>
        <td>{{ volunteer.firstName }} {{ volunteer.middleName }} {{ volunteer.lastName }}</td>
        <td>{{ volunteer.dateOfBirth|date("Y-m-d") }}</td>
        <td>{{ volunteer.email }}</td>
        <td>{{ volunteer.phone }}</td>
        <td>{{ volunteer.nationality }}</td>
        <td>{{ volunteer.programArrival|date("Y-m-d") }}</td>
        <td>{{ volunteer.programDuration }} weeks</td>
        <td class="text-center"><a href="{{ path('admin_volunteer_edit', {'volunteerId': volunteer.id}) }}"><i class="fa fa-pencil-square-o" style="font-size: 18px;"></i></a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

