{{ form_start(form, {'attr':{'novalidate':''}}) }}

<div class="row">
  <div class="col-md-6">
    <h4>Identity</h4>
    {{ form_row(form.name, { 'value' : organisation.name } ) }}
    <div id="kv-avatar-errors-2" style="width:800px;display:none"></div>

    <label class="control-label">Logo</label>
    <!-- Button trigger modal -->
    <div>
      <button type="button" class="btn btn-default btn-lg" id="mediaLibraryModalTrigger" data-toggle="modal"
              data-target="#mediaLibrary">
        <div class="file-preview-thumbnails">
          <div class="file-default-preview logo clickable" tabindex="-1">
            <img
                src="{% if organisation.logo is not null %}/{{ organisation.logo.path }}{{ organisation.logo.filename }}{% else %}{{ asset('media/images/blank.gif') }}{% endif %}"
                alt="Your Avatar" style="width:160px">
            <h6 class="text-muted">Click to select</h6>
          </div>
        </div>
      </button>
    </div>
    {{ form_row(form.punchline, { 'value' : organisation.punchline } ) }}
    {{ form_row(form.description, {'label': 'Short describption', 'value': organisation.description}) }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ form_row(form.about, { 'value' : organisation.about } ) }}
    {{ form_row(form.mission, { 'value' : organisation.mission } ) }}
    {{ form_row(form.vision, { 'value' : organisation.vision } ) }}
  </div>
  <div class="col-md-6">
    <div class="form-group" style="position: relative">
      <label class="control-label">Core values</label>

      <!-- Core Value One Row -->
      <div class="row coreValueRow" data-num="1" data-visible="true">
        <div class="col-sm-6">
          {{ form_row(form.coreValueOne, { 'value' : organisation.coreValueOne }) }}
        </div>
        <div class="col-sm-5">
          {{ form_row(form.coreValueOneIcon, { 'value' : organisation.coreValueOneIcon }) }}
        </div>
        <div class="col-xs-2 col-sm-1">
          <span class="iconPreview" data-target="1"><i class="{% if organisation.coreValueOneIcon is not null %}fa {{ organisation.coreValueOneIcon }}{% endif %}"></i></span>
        </div>
      </div>

      <!-- Core Value Two Row -->
      <div class="row coreValueRow" data-num="2" data-visible="{% if organisation.coreValueTwo is not null %}true{% else %}false{% endif %}">
        <div class="col-sm-6">
          {{ form_row(form.coreValueTwo, { 'value' : organisation.coreValueTwo }) }}
        </div>
        <div class="col-xs-10 col-sm-5">
          {{ form_row(form.coreValueTwoIcon, { 'value' : organisation.coreValueTwoIcon }) }}
        </div>
        <div class="col-xs-2 col-sm-1">
          <span class="iconPreview" data-target="2"><i class="{% if organisation.coreValueTwoIcon is not null %}fa {{ organisation.coreValueTwoIcon }}{% endif %}"></i></span>
        </div>
      </div>

      <!-- Core Value Three Row -->
      <div class="row coreValueRow" data-num="3" data-visible="{% if organisation.coreValueThree is not null %}true{% else %}false{% endif %}">
        <div class="col-sm-6">
          {{ form_row(form.coreValueThree, { 'value' : organisation.coreValueThree }) }}
        </div>
        <div class="col-sm-5">
          {{ form_row(form.coreValueThreeIcon, { 'value' : organisation.coreValueThreeIcon }) }}
        </div>
        <div class="col-xs-2 col-sm-1">
          <span class="iconPreview" data-target="3"><i class="{% if organisation.coreValueThreeIcon is not null %}fa {{ organisation.coreValueThreeIcon }}{% endif %}"></i></span>
        </div>
      </div>

      <!-- Core Value Four Row -->
      <div class="row coreValueRow" data-num="4" data-visible="{% if organisation.coreValueFour is not null %}true{% else %}false{% endif %}">
        <div class="col-sm-6">
          {{ form_row(form.coreValueFour, { 'value' : organisation.coreValueFour }) }}
        </div>
        <div class="col-sm-5">
          {{ form_row(form.coreValueFourIcon, { 'value' : organisation.coreValueFourIcon }) }}
        </div>
        <div class="col-xs-2 col-sm-1">
          <span class="iconPreview" data-target="4"><i class="{% if organisation.coreValueFourIcon is not null %}fa {{ organisation.coreValueFourIcon }}{% endif %}"></i></span>
        </div>
      </div>

      <!-- Core Value Five Row -->
      <div class="row coreValueRow" data-num="5" data-visible="{% if organisation.coreValueFive is not null %}true{% else %}false{% endif %}">
        <div class="col-sm-6">
          {{ form_row(form.coreValueFive, { 'value' : organisation.coreValueFive }) }}
        </div>
        <div class="col-sm-5">
          {{ form_row(form.coreValueFiveIcon, { 'value' : organisation.coreValueFiveIcon }) }}
        </div>
        <div class="col-xs-2 col-sm-1">
          <span class="iconPreview" data-target="5"><i class="{% if organisation.coreValueFiveIcon is not null %}fa {{ organisation.coreValueFiveIcon }}{% endif %}"></i></span>
        </div>
      </div>

      <span class="core-value-fields-adjust remove text-danger"><i class="fa fa-minus-circle"></i></span>
      <span class="core-value-fields-adjust add text-success"><i class="fa fa-plus-circle"></i></span>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4>Contact information</h4>
    {{ form_row(form.emailOfficial, { 'value' : organisation.emailOfficial } ) }}
    {{ form_row(form.emailSupport, { 'value' : organisation.emailSupport } ) }}
    {{ form_row(form.address, { 'value' : organisation.address } ) }}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4>Social media channels</h4>
    {{ form_row(form.facebook, { 'value' : organisation.facebook } ) }}
    {{ form_row(form.twitter, { 'value' : organisation.twitter } ) }}
    {{ form_row(form.instagram, { 'value' : organisation.instagram } ) }}
    {{ form_row(form.snapchat, { 'value' : organisation.snapchat } ) }}
    {{ form_row(form.youtube, { 'value' : organisation.youtube } ) }}
    {{ form_row(form.linkedin, { 'value' : organisation.linkedin } ) }}
    {{ form_row(form.googleplus, { 'value' : organisation.googleplus } ) }}
  </div>
</div>
{# Render CSRF token etc .#}
<div style="display:none">
  {{ form_rest(form) }}
</div>

<button type="submit" class="btn btn-primary btn-sm">Save</button>

<!-- Modal -->
<div class="modal fade" id="mediaLibrary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close mediaOneModal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Media Library</h4>
      </div>
      <div class="modal-body">
        {% for media in medias %}
          <div class="media-library-select inline-block">
            <input id="mediaOne{{ media.id }}" type="radio" name="mediaOne-choosable" value="{{ media.id }}"
                   {% if organisation.logo is not null and media.id == organisation.logo.id %}checked{% endif %}
                   data-target="mediaOne{{ media.id }}">
            <label class="media-choosable" for="mediaOne{{ media.id }}"
                   style="background-image:url('/{{ media.path }}{{ media.filename }}')"
                   data-img="/{{ media.path }}{{ media.filename }}"></label>
          </div>
        {% endfor %}
        {{ form_end(form) }}
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          {{ form_start(formUpload) }}
          {{ form_widget(formUpload.path) }}
          {{ form_end(formUpload) }}
        </div>
        <button type="button" class="btn btn-default mediaOneModal-close" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary mediaOneModal-save" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

