{{ form_start(form) }}
  {{ form_row(form.startDate) }}
  {{ form_widget(form.startDate, { 'data': program.startDate|date }) }}
<div class="form-group" id="program_startDateFlexible">
  {% if program.flexStart == true %}
    {{ form_widget(form.flexStart, { 'checked': 'checked' }) }}
  {% else %}
    {{ form_widget(form.flexStart) }}
  {% endif %}
</div>

<div class="form-group" id="program_isActive">
  {% if program.isActive == true %}
    {{ form_widget(form.isActive, { 'checked': 'checked' }) }}
  {% else %}
    {{ form_widget(form.isActive) }}
  {% endif %}
</div>

<div class="row">
  <div class="col-md-6">
    {{ form_row(form.title, { 'value': program.title } ) }}
  </div>
  <div class="col-md-6">
    {{ form_row(form.role, { 'value': program.role } ) }}
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    {{ form_row(form.teaser, { 'value': program.teaser } ) }}
  </div>
  <div class="col-md-6">
    {{ form_row(form.location, { 'value': program.location } ) }}
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    {{ form_row(form.stay, { 'value': program.stay } ) }}
  </div>
  <div class="col-md-6">
    {{ form_row(form.meals, { 'value': program.meals } ) }}
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    {{ form_row(form.price, { 'value': program.price } ) }}
  </div>
  <div class="col-md-6">
    {{ form_row(form.minDuration, { 'value': program.minDuration } ) }}
  </div>
</div>

{{ form_row(form.description, { 'value': program.description } ) }}

{# Render CSRF token etc .#}
<div style="display:none">
  {{ form_rest(form) }}
</div>

<button type="submit" class="btn btn-primary btn-sm">Save</button>
{{ form_end(form) }}