{{ form_start(form, {'attr':{'novalidate':''}}) }}
  {{ form_row(form.startDate) }}
  {{ form_widget(form.startDate) }}
<div class="form-group" id="program_startDateFlexible">
  {% if program.flexStart == true %}
    {{ form_widget(form.flexStart, { 'checked': 'checked' }) }}
  {% else %}
    {{ form_widget(form.flexStart) }}
  {% endif %}
</div>

<div class="form-group" id="program_isActive">
  {% if program.isActive == true %}
    {{ form_widget(form.isActive, { 'checked': 'checked' }) }}
  {% else %}
    {{ form_widget(form.isActive) }}
  {% endif %}
</div>
<!-- Button trigger modal -->
<label class="control-label required">Feature image</label>
<div class="margin--bot">
  <button type="button" class="btn btn-default btn-lg mediaLibraryModalTrigger" data-entity="feature"
          data-toggle="modal" data-target="#mediaLibrary">
    <div class="file-preview-thumbnails">
      <div class="file-default-preview feature clickable" tabindex="-1">
        <img
            src="{% if program.feature is not null %}/{{ program.feature.path }}{{ program.feature.filename }}{% else %}{{ asset('media/images/blank.gif') }}{% endif %}"
            alt="Preview" style="width:160px">
        <h6 class="text-muted">Click to select</h6>
      </div>
    </div>
  </button>
</div>

<div class="row">
  <div class="col-md-6">
    {{ form_row(form.title) }}
  </div>
  <div class="col-md-6">
    {{ form_row(form.role) }}
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    {{ form_row(form.teaser) }}
  </div>
  <div class="col-md-6">
    {{ form_row(form.location) }}
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    {{ form_row(form.stay) }}
  </div>
  <div class="col-md-6">
    {{ form_row(form.meals) }}
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    {{ form_row(form.price) }}
  </div>
  <div class="col-md-6">
    {{ form_row(form.minDuration) }}
  </div>
</div>

{{ form_row(form.description) }}
<label class="control-label" for="program_media">Gallery images</label><br>

<!-- Gallery choose imgs -->
<div class="well well-sm white row margin--whole-none">
  <button type="button" class="btn btn-primary btn-block btn-sm margin--bot mediaLibraryModalTrigger"
          data-entity="gallery" data-toggle="modal" data-target="#mediaLibrary">
    Select Images
  </button>
  <div class="file-preview-thumbnails gallery">
    {% for media in medias %}
      {% for relation in program.programMedia %}
        {% if media.id == relation.id %}
          <div class="file-default-preview col-md-15 text-center margin--bot-xs" tabindex="-1" style='height: 130px'>
            <img src="/{{ media.path }}{{ media.filename }}" alt="Preview">
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

{# Render CSRF token etc .#}
<div style="display:none">
  {{ form_rest(form) }}
</div>

<button type="submit" class="btn btn-success btn-lg btn-block margin--top-huge">Save program</button>

<!-- Modal Feature -->
<div class="modal fade" id="mediaLibrary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close mediaOneModal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Media Library</h4>
      </div>
      <div class="modal-body feature">
        {% for media in medias %}
          <div class="media-library-select inline-block">
            <input id="mediaOne{{ media.id }}" type="radio" name="mediaOne-choosable" value="{{ media.id }}"
                   {% if program.feature is not null and media.id == program.feature.id %}checked{% endif %}
                   data-target="mediaOne{{ media.id }}">
            <label class="media-choosable" for="mediaOne{{ media.id }}"
                   style="background-image:url('/{{ media.path }}{{ media.filename }}')"
                   data-img="/{{ media.path }}{{ media.filename }}"></label>
          </div>
        {% endfor %}
        {{ form_end(form) }}
      </div>
      <div class="modal-body gallery">
        {% for media in medias %}
          <div class="media-library-select inline-block">
            <input id="program_media{{ media.id }}" type="checkbox" name="program_media[]" value="{{ media.id }}"
                   {% for relation in program.programMedia %}{% if media.id == relation.id %}checked{% endif %}{% endfor %}
                   data-target="mediaGallery{{ media.id }}" data-img="/{{ media.path }}{{ media.filename }}">
            <label class="media-choosable" for="program_media{{ media.id }}"
                   style="background-image:url('/{{ media.path }}{{ media.filename }}')"></label>
          </div>
        {% endfor %}
        {{ form_end(form) }}
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          {{ form_start(formUpload) }}
          {{ form_widget(formUpload.path) }}
          {{ form_end(formUpload) }}
        </div>
        <button type="button" class="btn btn-default mediaOneModal-close" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary mediaOneModal-save" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

