{% extends 'base.html.twig' %}

{% block body %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="row form-wrap registration-form-wrap well well-lg white margin--top-huge">
            <h3 class="margin--top-none margin--bot-l">Send lost password</h3>

            {{ form_start(form) }}
              {{ form_row(form.email) }}
              <button type="submit" class="btn btn-success btn-sm btn-block margin--top">Send password <i class="fa fa-send"></i></button>
            {{ form_end(form) }}
            <div class="margin--top">
              <a class="pull-left" href="{{ path('security_login') }}">Return to login</a>
              <a class="pull-right" href="{{ path("programs_list") }}">Register for a program</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

